<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Details</title>
</head>
<body>
  <ul>
    <% SQLResults.forEach(book => { %>
    <li>title: <%=book.title %><br />
      author: <%=book.author %><br />
      img_url: <img src="<%=book.img_url %>"><br />
      description: <%=book.description %><br />
      isbn: <%=book.isbn %>
    </li>
    <% }); %>
  </ul>
  <a href="/">Home</a>
</body>
</html>