<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="/styles/reset.css" />
  <link rel="stylesheet" href="/styles/base.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/modules.css" />
  <link rel="stylesheet" href="/styles/icons.css" />
  <title>Document</title>
</head>

<body>

  <main>
    <div id="screenBackground">
      <div id="screenViewPort">
        <form method="POST" action='/searches'>

            <span>
              Search:
            </span>
            <input type="text" name="searchField">

            <span>
              Search by Author
            </span>
            <input type="radio" name="searchBy" value="author">
            
            <span>
              Search by Title
            </span>
            <input type="radio" name="searchBy" value="title">
          </label>

          <button>Submit</button>

        </form>
        <p>
          Number of Book: 
          <%= bookCount %>
        </p>
        <ul>
          <% SQLResults.forEach(book => { %>
          <li>title: <%=book.title %><br />
            author: <%=book.author %><br />
            img_url: <img src="<%=book.image_url %>"><br />
            description: <%=book.description %>          
          <a href="/books/<%= book.id %>">View Details</a>
          
          <% }); %> 
        </li>
        </ul>
      </div>
    </div>
  </main>

</body>

</html>