<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="/styles/reset.css" />
  <link rel="stylesheet" href="/styles/base.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/modules.css" />
  <link rel="stylesheet" href="/styles/icons.css" />
  <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
  <title>Document</title> 
</head>

<body>

  <main>
    <div id="screenBackground">
      <div id="screenViewPort">

        <a id="goToSearchPageLink" href="/searchPage">Search Library for Books</a>
        <p id="booksOnShelf">Books on Shelf: <%= bookCount %> </p>

        <ul>
          <% SQLResults.forEach(book => { %>
          <li class="bookItem">
            <h3 class="bookTitle"><%=book.title %></h3>
            <p class="author"><%=book.author %></p>
            <img class="bookImg" src="<%=book.image_url %>">
            <p class="description"><%=book.description %></p>
            <a class="detailsLink" href="/books/<%= book.id %>">View Details</a>

            <form method=POST action="/removeBook?_method=DELETE">
              <input type="hidden" name="bookToDelete" value="<%= book.id %>">
              <input class="removeFromShelfButton" type="submit" value="Remove from Bookshelf">

            </form>
            <% }); %>
          </li>
        </ul>
      </div>
    </div>
  </main>

</body>

</html>